<% 
const data = [
  {
    label: 'dragon',
    name: '竜盤目',
  },
  {
    label: 'bird',
    name: '鳥盤目',
  },
];
%> 
<%- include('../../components/_head') %>

  <body class="l-inner">
    <%- include('../../components/_header') %>
      <%- include('../../components/_nav') %>
        <main class="l-main">
          <%- include('../../components/_breadcrumbs') %>
            <h2 class="c-title c-title--accent u-align-c">恐竜のなかまたち</h2>
            <div class="c-filter">
              <button class="c-filter__button js-filter__button"><i class="fas fa-search c-filter__icon"></i>絞り込み検索</button>
              <div id="filter-window" class="c-filter__window u-mgt-10">
                <h3 class="c-filter__index">種類</h3>
                <input type="checkbox" name="category" id="bird">
                <label for="bird">鳥盤目</label>
                <input type="checkbox" name="category" id="dragon">
                <label for="dragon">竜盤目</label>
                <h3 class="c-filter__index">食べ物</h3>
                <input type="checkbox" name="category" id="vegetable">
                <label for="vegetable">草食</label>
                <input type="checkbox" name="category" id="meat">
                <label for="meat">肉食</label>
                <input type="checkbox" name="category" id="bug">
                <label for="bug">虫</label>
                <input type="checkbox" name="category" id="mix">
                <label for="mix">雑食</label><br>
                <div class="c-filter__window__bottom">
                  <button class="c-filter__submit c-button c-button--third">この条件で絞り込む</button>
                  <a href="" class="js-filter__button c-filter__window__cancel u-mgt-20">絞り込み検索をやめる</a>
                </div>
              </div>
              <div class="c-filter__select__wrapper u-mgt-10 u-mgb-80">
                <select class="c-filter__select">
                  <option value="popular" selected>人気順</option>
                  <option value="name">50音順</option>
                </select>
              </div>
            </div>
            <ul class="p-dinosaur__list">
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
            </ul>
        </main>
        <%- include('../../components/_footer') %>
  </body>

  </html>