<%- include('../../components/_head') %> 
<body class="l-inner">
  <%- include('../../components/_header') %> 
  <%- include('../../components/_nav') %> 
  <main class="l-main">
      <%- include('../../components/_breadcrumbs') %>
    <h2 class="c-title c-title--accent u-align-c">ご利用ガイド</h2>
    <ul class="p-guide">
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/login"><span class="p-guide__link">ログインの仕方</span></a>
      </li>
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/mypage"><span class="p-guide__link">マイページについて</span></a>
      </li>
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/register"><span class="p-guide__link">登録方法</span></a>
      </li>
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/website"><span class="p-guide__link">このサイトについて</span></a>
      </li>
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/sequrity"><span class="p-guide__link">セキュリティについて</span></a>
      </li>
      <li class="p-guide__item c-listitem c-listitem--next">
        <a href="/pages/guide/mailmagazine"><span class="p-guide__link">メルマガについて</span></a>
      </li>
    </ul>
  </main>
  <%- include('../../components/_footer') %>
</body>

</html>