<%- include('../../../components/_head') %>
  <body class="l-inner">
    <%- include('../../../components/_header') %>
      <%- include('../../../components/_nav') %>
    <main class="l-main">
    <%- include('../../../components/_breadcrumbs') %>
    <span class="p-news__category" data-category="news">お知らせ</span>
    <span class="p-news__date">2021/04/22</span>
    <h2 class="c-subtitle u-mgt-10">新しい公園を追加しました！</h2>
    <hr>
    <p class="c-sentence">新しく〇〇公園、△△公園、××公園をずかんに追加しました。</p>
    <p class="c-sentence">どの公園も運営者一押しの素敵な公園なので、ぜひ一度訪れてみてくださいね。</p>
    <a href="/pages/news" class="c-button c-button--secondary u-mgt-40">お知らせ一覧へ戻る</a>
  </main>
  <%- include('../../../components/_footer') %>
</body>

</html>